/* $This file is distributed under the terms of the license in /doc/license.txt$ */

a.no_href_styles {
    border: 0;
}
.no_href_styles a:ACTIVE,
.no_href_styles a:BEFORE,
.no_href_styles a:FOCUS,
.no_href_styles a:HOVER,
.no_href_styles a:VISITED,
.no_href_styles a:LINK
    { /*color: white;*/
    border: 0;
}
.vis_stats {
    background: #fff;
}

#vis-container {
min-height: 900px;
}

#geomap_div {
    width: 600px;
    height: 400px;
    float: left;
    border: 1px solid #ddd;
}
#publication_data_table {
margin-bottom:0px;
border:none;
}

.vis-tables {
    background-color: #FFF;
}
.datatable table {
    text-align: left;
}
.datatable img {
    float: left;
    cursor: pointer;
}
#individual-sidebar {
    float: left;
    width: 240px;
    margin: 20px 20px 0px 10px;
}
#sparkline-container {
    float: right;
    width:240px;
    margin-top:30px;
    margin-right:10px;
}
#profileImage img{
width:240px;
height:240px;

}
#body h1 {
    margin: 0;
} 
#ego_profile h1 a {
  text-decoration: none;
}
.sparkline_wrapper_table {
    display: inline;
    vertical-align: bottom;
}
.investigator_name,
.author_name {
    color: #2485AE;
    font-weight: bold;
}
.neutral_investigator_name,
.neutral_author_name {
    color: #2485AE;
    font-weight: bold;
}
.investigator_moniker,
.author_moniker {
    color: #9C9C9C;
}
.sub_headings {
    color: #121b3c;
    padding-top: 10px;
    float: left;
    margin-right: 10px;
}
.toggle_visualization { 
    max-width: 230px;
    float: right;
    display: none;
	margin-top: -55PX;
}
#publication-count-sparkline-include {
    clear:right;
}
#coauthor-count-sparkline-include {
    clear: left;
}
.sub_headings a {
    font-size: .7em;
    font-weight:normal;
}
table.sparkline_wrapper_table td, th {
    vertical-align: bottom;
}
#ego_profile {
  height: 1%; /* this was the key to killing the IE6 bug (no upper photo and sparklines jump on hover). Solution? Give the parent layout */
  background: #fff;
/*  min-height: 100px;   tlw72 -- adding this to IE6.css; otherwise, this puts too much space between the h2 and h3 */
  float: left;
  max-width: 50%;
}
#ego_profile_image {
  float: left;
  padding-right: 5px;
}
#ego_profile_image img {
  width: 90px;
  height: auto;
}
#ego_sparkline {
    cursor: pointer;
    height: 36px;
    width: 471px;
}
#coauthorships_table th {
    vertical-align: top;
}
.sparkline_range {
    font-size: .9em;
    font-weight: bold;
}
.vis-tables table td{
    padding-right: 10px;
    width: 50%;
}
.vis-tables table {
    width: 100%;
}
.vis-tables table thead {
    text-align: left;
}
.vis-tables table thead tr th { 
    background-color: #bbb; 
    font-size: 14px; 
    padding: 5px; 
    vertical-align: top; 
    text-align: left; 
    border: 1px solid #999;
}
.vis-tables table tbody { 
    font-size: 12px;  
}
.vis-tables table tbody td { 
    text-align: left; 
    padding: 5px;  
    background: #eee;
    border: 1px solid #999;
}
.moniker {
    margin-top: 0;
}
.spacer {
    font-size: 0; 
    line-height: 0; 
    clear: both;
}
/* <------ BODY START*/
#body {
    margin: 0 auto; 
    background: white;
}
#bodyPannel {
    background: #FFFFFF;    
    height: 840px;
    width: 100%;
    clear: both;
}
#dataPanel { 
    border: 1px solid #e9e9e9;
    background: #F7F9F9;
    width: 250px; 
    height: 615px;
    float: left;
}
#dataPanel div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
#dataPanel .italicize {
    font-style: italic;
}
#dataPanel .bold {
    font-weight: bold;
    color: #2485AE;
    font-size: 14px;
}
#dataPanel .investigator_stats .numbers,
#dataPanel .author_stats .numbers {
    text-align: right;
    width: 40px;
    float:left;
}
/* <------ CONTAINER OVERRIDE FROM LIQUID.CSS*/
.container {
    width: inherit; 
}
#incomplete-data {
    line-height: 150%;
}
#profileTitle {
    color: white;
    line-height: 1em !important;
}
#table_heading {
    width: 80%; 
}
